<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation targetFramework="4.0" />
      <webServices>
        <protocols>
          <add name="HttpGet" />
          <add name="HttpPost" />
          <add name="HttpSoap" />
          <add name="Documentation" />
        </protocols>
      </webServices>
    </system.web>
  <appSettings>
    <!--web网址-->
    <add key="weburl" value="http://www.occs.com.cn" />
    <!--user网址-->
    <add key="userurl" value="http://user.occs.com.cn" />
    <!--branch网址-->
    <add key="branchurl" value="http://branch.occs.com.cn" />
    <!--短信接口账户-->
    <add key="account" value="cf_cgkjgf" />
    <!--短信接口密码-->
    <add key="password" value="sXuPNv" />
    <!--此值为1则默认不发短信只记录数据库-->
    <add key="smstest" value="0" />
    <!--同ip发送时间间隔(0为不限制)，单位：秒-->
    <add key="smsinterval" value="5" />
    <!--接口密码-->
    <add key="safepass" value="dhccpass" />
    <!--验证码有效时间（单位：分钟）-->
    <add key="eff_time" value="10"/>
   <add key="smtphost" value="smtp.ym.163.com"/>
    <add key="smtpuser" value="service@occs.cn"/>
    <add key="smtppass" value="yjwl2015"/>
    <add key="smtpssl" value="1" />

    <!--数据字典路径-->
    <add key="optionslist" value="~/App_Data/OptionsList.xml" />
  </appSettings>
    <connectionStrings>
      <add name="Entities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=128.1.13.63;initial catalog=occsdb;user id=occs;password=occs!@#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.webServer>
        <security>
            <authorization>
                <remove users="occsprep" roles="" verbs="" />
                <add accessType="Allow" users="*" />
            </authorization>
        </security>
    </system.webServer>
</configuration>
